@model AdminApp.Models.Website

@{
    ViewBag.Title = "Create";
}
<!-- Breadcrumb -->
<div class="ecommerce-title">

    <div class="row">
        <div class="col s12 m9 l10">
            <!--h1>@@title</h1-->
            <nav>
                <ul class="left">
                    <li>
                        <a href="/TrafficPackages/Index">Traffic Packages</a>
                    </li>
                    <li class="active">
                        <a href="/Websites/Index">Websites</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>
<!-- /Breadcrumb -->

@using (Html.BeginForm("Create", "Websites", FormMethod.Post))
{
    @Html.AntiForgeryToken()
       <!-- General -->
    <div class="card">
        <div class="title">
            <h5>Main Info</h5>
            <a class="minimize" href="#">
                <i class="mdi-navigation-expand-less"></i>
            </a>
        </div>
        <div class="content">

            <div class="row no-margin-top">
                <div class="col s12 l3">
                    @Html.LabelFor(model => model.Url, new { @class = "setting-title" })
                </div>
                <div class="col s12 l9">
                    <div class="input-field no-margin-top disabled">
                        @Html.EditorFor(model => model.Url, new { htmlAttributes = new { placeholder = "Url" } })
                    </div>
                </div>
            </div>
            <div class="row no-margin-top" style="min-height:50px">
                <div class="col s12 l3">
                    @Html.LabelFor(model => model.IsDetecMode, new { @class = "setting-title" })
                </div>
                <div class="col s12 l9">
                    <div class="input-field no-margin-top">
                        @Html.EditorFor(model => model.IsDetecMode, new { htmlAttributes = new { style = "opacity:1;visibility: visible" } })
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- /General -->
        <!-- Save and Cancel buttons -->
    <p class="right-align">
        <button class="btn" type="submit">Save</button>
        <a class="btn" href="/Websites/Index">Cancel</a>
    </p>
        <!-- /Save and Cancel buttons -->
}
